

.game-info-container{
	height: 80px;
	margin: 0 0 10px 0;
	display: block;
	background-color: gray;
}

.section{
	float:left;
	width: 25%;
	color: #DDD;
	text-align: center;
	position: relative;
	top: 10px;
}

.section div{
	font-weight: bold;
	color: white;
	display: inline;
}

.form-container{
	margin: 0 auto;
	text-align: center;
}

.grid-container{
	margin: 0 auto;
	width: 80%;
}

.card{
	height: 60px;
	background-color: lightyellow;
	transition: all .5s;
	transform: rotateY(180deg);
	border: 1px solid black;
	box-sizing: border-box;
	margin: 1%;
	display: inline-block;
}

.name{
	backface-visibility: hidden;
	transition: all .5s;
	transform: translateY(60%) rotateY(180deg);
	font-size: large;
	text-align: center;
}

.revealed{
	transform: rotateY(0deg);	
}

.revealed .name {
	transform: translateY(60%) rotateY(0deg);	
}

.correct{
	background-color: lime;
	border-color: darkgreen;
}

